/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:hover,
:focus {
  text-decoration: none !important;
  outline: none !important;
  color: inherit;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Marmelad, sans-serif;
  color: #000;
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
  padding: 0;
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

input {
  background-color: transparent;
}

input:-webkit-autofill {
  transition: background-color 9999s ease-in-out 0s;
}

.slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slideshow__inner {
  overflow: hidden;
  height: 100%;
}
.slideshow__item {
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
.slideshow__item::after {
  content: "";
  background: #000;
  position: absolute;
  inset: 0;
  opacity: 0.3;
}
.slideshow__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.hero {
  background: #ee8584;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
@media (max-width: 767.98px) {
  .hero {
    height: 80vh;
    clip-path: initial;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}
.hero__text {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 700;
}
@media (max-width: 767.98px) {
  .hero__text {
    font-size: 1.8rem;
  }
}
.hero__title {
  margin-top: 30px;
  font-size: 8rem;
  font-weight: bold;
  color: #fff;
}
@media (max-width: 767.98px) {
  .hero__title {
    margin-top: 20px;
    font-size: 3.4rem;
  }
}
.hero__guest-label {
  margin-top: 80px;
  font-weight: 600;
  font-size: 2.8rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 767.98px) {
  .hero__guest-label {
    margin-top: 50px;
    font-size: 1.8rem;
  }
}
.hero__guest-name {
  margin-top: 30px;
  font-family: "Oooh Baby", cursive;
  font-weight: 700;
  font-size: 6rem;
  color: #fff;
  position: relative;
}
.hero__guest-name::after {
  content: "";
  height: 2px;
  width: calc(100% + 100px);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 2px dotted #fff;
}
@media (max-width: 767.98px) {
  .hero__guest-name::after {
    width: 300px;
  }
}
@media (max-width: 767.98px) {
  .hero__guest-name {
    margin-top: 10px;
    font-size: 3.2rem;
  }
}
.hero__subtitle {
  margin-top: 30px;
  font-size: 2.4rem;
  color: #fff;
}
@media (max-width: 767.98px) {
  .hero__subtitle {
    font-size: 1.8rem;
  }
}
.hero__cta {
  margin-top: 30px;
  padding: 16px 52px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 2rem;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
}
.hero__cta:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
@media (max-width: 767.98px) {
  .hero__cta {
    margin-top: 40px;
    font-size: 1.6rem;
    padding: 12px 40px;
  }
}

.couple {
  margin-top: -150px;
  margin-bottom: 80px;
  position: relative;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .couple {
    margin-top: -60px;
    margin-bottom: 20px;
  }
}
.couple__media {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  position: relative;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .couple__media {
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
}
.couple__media::before {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("/images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .couple__media::before {
    width: 40px;
    height: 40px;
  }
}
.couple__media::after {
  content: "";
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767.98px) {
  .couple__media::after {
    width: 70px;
    height: 70px;
  }
}
.couple__img-wrap {
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  border: 10px solid #fff;
  background-color: #fff;
}
@media (max-width: 767.98px) {
  .couple__img-wrap {
    border: 10px solid #fff;
  }
}
.couple__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}
.couple__content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media (max-width: 767.98px) {
  .couple__content {
    gap: 20px;
  }
}
.couple__heading {
  font-size: 4.4rem;
  font-weight: 700;
  color: #ee8584;
}
@media (max-width: 767.98px) {
  .couple__heading {
    font-size: 3.4rem;
  }
}
.couple__desc {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 1.8rem;
  width: 75%;
  color: rgb(115, 119, 123);
}
@media (max-width: 767.98px) {
  .couple__desc {
    width: 100%;
    font-size: 1.4rem;
  }
}
.couple__name {
  margin-top: 20px;
  font-family: "Oooh Baby", cursive;
  font-weight: 400;
  font-size: 3.8rem;
}
@media (max-width: 767.98px) {
  .couple__name {
    font-size: 3.4rem;
  }
}
.couple__bottom {
  width: 100%;
}
.couple__main-img-wrap {
  width: 76%;
  padding-top: 40%;
  position: relative;
  margin: 40px auto;
  border-radius: 20px;
}
@media (max-width: 767.98px) {
  .couple__main-img-wrap {
    width: 100%;
    padding-top: 60%;
  }
}
.couple__main-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.parrent {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 120px;
}
@media (max-width: 767.98px) {
  .parrent {
    gap: 20px;
  }
}
.parrent__info {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.parrent__name {
  color: rgb(115, 119, 123);
}
.parrent__name strong {
  font-weight: 700;
  font-size: 1.8rem;
}
@media (max-width: 767.98px) {
  .parrent__name strong {
    font-size: 1.2rem;
  }
}
@media (max-width: 767.98px) {
  .parrent__name {
    font-size: 1.2rem;
  }
}
.parrent__label {
  font-weight: 700;
  font-size: 1.8rem;
  margin: 0 auto;
  margin-bottom: 10px;
}

.location {
  background: #ee8584;
  padding: 80px 0;
}
.location__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.location__heading {
  font-size: 4.4rem;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 767.98px) {
  .location__heading {
    font-size: 3.4rem;
  }
}
.location__desc {
  margin-top: 20px;
  font-size: 1.8rem;
  text-align: center;
  width: 60%;
  color: #fff;
}
@media (max-width: 767.98px) {
  .location__desc {
    width: 100%;
    font-size: 1.4rem;
  }
}
.location__list {
  margin-top: 40px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 20px;
}
@media (max-width: 767.98px) {
  .location__list {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.location-item {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 40px;
  border-radius: 20px;
}
.location-item__title {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: #ee8584;
}
.location-item__desc {
  color: rgb(115, 119, 123);
  margin-bottom: 20px;
  font-weight: 600;
  align-self: start;
}
@media (max-width: 767.98px) {
  .location-item__desc {
    align-self: start;
  }
}
.location-item__btn {
  padding: 14px 44px;
  border-radius: 20px;
  color: #ee8584;
  border: 1px solid #ee8584;
  background-color: transparent;
  transition: all 0.25s ease;
  cursor: pointer;
}
.location-item__btn:hover {
  border: 1px solid #ee8584;
  background-color: #ee8584;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
