$primary-color1: #ee8584;
$primary-color2: #ffdbd5;
$background-color: #fff;
$text-color1: #000;
$text-color2: #fff;
$desc-color: rgb(115, 119, 123);
$box-shadow: 0 0 25px 10px rgba(100, 100, 100, 0.14);
