@import "reset";
@import "variables";
@import "mixins";
@import "utils";
@import "base";

.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__inner {
        overflow: hidden;
        height: 100%;
    }

    &__item {
        position: relative;
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        &::after {
            content: "";
            background: #fff;
            position: absolute;
            inset: 0;
            opacity: 0.1;
        }
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
    }
}

.hero {
    background: $primary-color1;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

    @include screen(md) {
        height: 80vh;
        clip-path: initial;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        z-index: 1;
        position: relative;

        @include screen(md) {
            gap: 20px;
        }
    }

    &__text {
        font-size: 2.4rem;
        color: $text-color2;

        @include screen(md) {
            font-size: 1.8rem;
        }
    }

    &__title {
        font-size: 8rem;
        font-weight: bold;
        color: $text-color2;
        @include screen(md) {
            font-size: 3.4rem;
        }
    }
    &__subtitle {
        font-size: 2.4rem;
        color: $text-color2;
        @include screen(md) {
            font-size: 1.8rem;
        }
    }

    &__cta {
        padding: 16px 52px;
        border: 1px solid #fff;
        background-color: transparent;
        font-size: 2.4rem;
        border-radius: 20px;
        color: $text-color2;
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
            color: $text-color2;
        }

        @include screen(md) {
            margin-top: 40px;
            font-size: 1.8rem;
        }
    }
}

.couple {
    margin-top: -150px;
    position: relative;
    z-index: 1;

    @include screen(md) {
        margin-top: -60px;
    }
    &__media {
        width: 80%;
        margin: 0 auto;
        display: flex;
        gap: 20px;
        position: relative;
        justify-content: space-between;
        @include screen(md) {
            flex-direction: column;
            gap: 5px;
            width: 100%;
        }

        &::before {
            content: "";
            width: 60px;
            height: 60px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url("/images/heart.svg");
            background-repeat: no-repeat;
            background-position: center;
            z-index: 1;
            @include screen(md) {
                width: 40px;
                height: 40px;
            }
        }

        &::after {
            content: "";
            width: 100px;
            height: 100px;
            background-color: #fff;
            border-radius: 50%;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include screen(md) {
                width: 70px;
                height: 70px;
            }
        }
    }

    &__img-wrap {
        width: 100%;
        border-radius: 30px;
        overflow: hidden;
        border: 20px solid #fff;
        background-color: #fff;
        @include screen(md) {
            border: 10px solid #fff;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        display: block;
    }

    &__content {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        @include screen(md) {
            gap: 20px;
        }
    }

    &__heading {
        font-size: 4.4rem;
        font-weight: 700;
        color: $primary-color1;

        @include screen(md) {
            font-size: 3.4rem;
        }
    }

    &__desc {
        font-family: "Open Sans", sans-serif;
        text-align: center;
        font-size: 1.8rem;
        width: 75%;
        color: $desc-color;

        @include screen(md) {
            width: 100%;
            font-size: 1.4rem;
        }
    }
    &__name {
        margin-top: 20px;
        font-family: "Oooh Baby", cursive;
        font-weight: 400;
        font-size: 3.8rem;

        @include screen(md) {
            font-size: 3.4rem;
        }
    }
}

.parrent {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 120px;
    @include screen(md) {
        gap: 20px;
    }

    &__info {
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    &__name {
        color: $desc-color;
        & strong {
            font-weight: 700;
            font-size: 1.8rem;

            @include screen(md) {
                font-size: 1.2rem;
            }
        }

        @include screen(md) {
            font-size: 1.2rem;
        }
    }
}
