@import "reset";
@import "variables";
@import "mixins";
@import "utils";
@import "base";

.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__inner {
        overflow: hidden;
        height: 100%;
    }

    &__item {
        position: relative;
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        &::after {
            content: "";
            background: #000;
            position: absolute;
            inset: 0;
            opacity: 0.3;
        }
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
    }
}

.hero {
    background: $primary-color1;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

    @include screen(md) {
        height: 80vh;
        clip-path: initial;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        position: relative;

        @include screen(md) {
        }
    }

    &__text {
        font-size: 2.4rem;
        color: $text-color2;
        font-weight: 700;

        @include screen(md) {
            font-size: 1.8rem;
        }
    }

    &__title {
        margin-top: 30px;
        font-size: 8rem;
        font-weight: bold;
        color: $text-color2;
        @include screen(md) {
            margin-top: 20px;
            font-size: 3rem;
        }
    }

    &__guest-label {
        margin-top: 80px;
        font-weight: 600;
        font-size: 2.8rem;
        color: $text-color2;
        font-family: "Open Sans", sans-serif;
        @include screen(md) {
            margin-top: 50px;
            font-size: 1.6rem;
        }
    }

    &__guest-name {
        margin-top: 30px;
        font-family: "Oooh Baby", cursive;
        font-weight: 700;
        font-size: 6rem;
        color: $text-color2;
        position: relative;

        &::after {
            content: "";
            height: 2px;
            width: calc(100% + 100px);
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            border-bottom: 2px dotted #fff;
            @include screen(md) {
                width: 300px;
            }
        }
        @include screen(md) {
            margin-top: 10px;
            font-size: 2.8rem;
        }
    }

    &__subtitle {
        margin-top: 30px;
        font-size: 2.4rem;
        color: $text-color2;
        @include screen(md) {
            font-size: 1.8rem;
        }
    }

    &__cta {
        margin-top: 30px;
        padding: 16px 52px;
        border: 1px solid #fff;
        background-color: transparent;
        font-size: 2rem;
        border-radius: 20px;
        color: $text-color2;
        font-weight: 500;
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
            color: $text-color2;
        }

        @include screen(md) {
            margin-top: 40px;
            font-size: 1.6rem;
            padding: 12px 40px;
        }
    }
}

.couple {
    margin-top: -150px;
    margin-bottom: 80px;
    position: relative;
    z-index: 1;

    @include screen(md) {
        margin-top: -60px;
        margin-bottom: 20px;
    }
    &__media {
        width: 80%;
        margin: 0 auto;
        display: flex;
        gap: 20px;
        position: relative;
        justify-content: space-between;
        @include screen(md) {
            flex-direction: column;
            gap: 5px;
            width: 100%;
        }

        // &::before {
        //     content: "";
        //     width: 60px;
        //     height: 60px;
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     background-image: url("../images/heart.svg");
        //     background-repeat: no-repeat;
        //     background-position: center;
        //     z-index: 1;
        //     @include screen(md) {
        //         width: 40px;
        //         height: 40px;
        //     }
        // }

        &::after {
            content: "";
            width: 100px;
            height: 100px;
            background-color: #fff;
            border-radius: 50%;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include screen(md) {
                width: 70px;
                height: 70px;
            }
        }
    }

    &__img-wrap {
        width: 100%;
        border-radius: 30px;
        overflow: hidden;
        border: 10px solid #fff;
        background-color: #fff;
        @include screen(md) {
            border: 10px solid #fff;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        display: block;
    }

    &__content {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        @include screen(md) {
            gap: 20px;
        }
    }

    &__heading {
        font-size: 4.4rem;
        font-weight: 700;
        color: $primary-color1;

        @include screen(md) {
            font-size: 3rem;
        }
    }

    &__desc {
        font-family: "Open Sans", sans-serif;
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.4;
        width: 75%;
        color: $desc-color;

        @include screen(md) {
            width: 100%;
            font-size: 1.4rem;
        }
    }
    &__name {
        margin-top: 20px;
        font-family: "Oooh Baby", cursive;
        font-weight: 400;
        font-size: 3.8rem;

        @include screen(md) {
            font-size: 3rem;
        }
    }

    &__bottom {
        width: 100%;
    }

    &__main-img-wrap {
        width: 76%;
        padding-top: 40%;
        position: relative;
        margin: 40px auto;
        border-radius: 20px;

        @include screen(md) {
            width: 100%;
            padding-top: 60%;
        }
    }

    &__main-img {
        box-shadow: $box-shadow;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}

.parrent {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 120px;
    @include screen(md) {
        gap: 20px;
    }

    &__info {
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    &__name {
        color: $desc-color;
        & strong {
            font-weight: 700;
            font-size: 1.8rem;

            @include screen(md) {
                font-size: 1.2rem;
            }
        }

        @include screen(md) {
            font-size: 1.2rem;
        }
    }

    &__label {
        font-weight: 700;
        font-size: 1.8rem;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

.location {
    background: $primary-color1;
    padding: 80px 0;
    @include screen(md) {
        padding: 40px 0;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__heading {
        font-size: 4.4rem;
        font-weight: 700;
        color: #fff;

        @include screen(md) {
            font-size: 3rem;
        }
    }

    &__desc {
        margin-top: 20px;
        font-size: 1.8rem;
        text-align: center;
        width: 60%;
        color: #fff;
        @include screen(md) {
            width: 100%;
            font-size: 1.4rem;
        }
    }

    &__list {
        margin-top: 40px;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        gap: 20px;

        @include screen(md) {
            grid-template-columns: 1fr;
            width: 100%;
        }
    }
}

.location-item {
    background: #fff;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 40px;
    border-radius: 20px;

    &__title {
        font-size: 2.6rem;
        font-weight: 700;
        margin-bottom: 30px;
        color: $primary-color1;
        @include screen(md) {
            font-size: 2.2rem;
        }
    }

    &__desc {
        color: $desc-color;
        margin-bottom: 20px;
        font-weight: 600;
        align-self: start;

        @include screen(md) {
            align-self: start;
        }
    }

    &__btn {
        padding: 14px 44px;
        border-radius: 20px;
        color: $primary-color1;
        border: 1px solid $primary-color1;
        background-color: transparent;
        transition: all 0.25s ease;
        cursor: pointer;

        &:hover {
            border: 1px solid $primary-color1;
            background-color: $primary-color1;
            color: #fff;
        }
    }
}

.reply {
    margin-top: 40px;
    padding: 80px 0px;

    @include screen(md) {
        padding: 40px 0;
        margin-top: 0px;
    }

    &__inner {
        margin: 0px auto;
        max-width: 700px;
        padding: 40px;
        border-radius: 20px;
        text-align: center;
        box-shadow: $box-shadow;
    }

    &__heading {
        font-size: 4.4rem;
        margin-bottom: 40px;
        color: $primary-color1;
        @include screen(md) {
            font-size: 3rem;
        }
    }

    &__input-wrap {
        height: 50px;
        border-radius: 20px;
        width: 100%;
        background-color: transparent;
        border: 1px solid #ccc;
        padding: 0px 12px;
        margin-bottom: 20px;
    }

    &__input {
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
    }

    &__btn {
        margin-top: 20px;
        padding: 14px 64px;
        border-radius: 20px;
        border: 1px solid transparent;
        background-color: $primary-color1;
        color: #fff;
        transition: all 0.25s ease;
        cursor: pointer;
        display: inline-block;

        &:hover {
            opacity: 0.8;
        }

        @include screen(md) {
            margin-top: 10px;
            padding: 14px 44px;
        }
    }
}

.price {
    background-color: #fff;
    margin-bottom: 120px;

    @include screen(md) {
        margin-bottom: 40px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        font-size: 4.4rem;
        margin-bottom: 40px;
        color: $primary-color1;
        @include screen(md) {
            font-size: 3rem;
            margin-bottom: 20px;
        }
    }

    &__desc {
        font-family: "Open Sans", sans-serif;
        text-align: center;
        font-size: 1.8rem;
        width: 60%;
        color: $desc-color;

        @include screen(md) {
            width: 80%;
            font-size: 1.4rem;
        }
    }

    &__wrap {
        margin-top: 40px;
        display: flex;
        gap: 80px;
        @include screen(lg) {
            gap: 60px;
        }
        @include screen(md) {
            margin-top: 20px;
            flex-direction: column;
            gap: 20px;
        }
    }
}

.price-item {
    background: $primary-color1;
    box-shadow: 0 0 25px 10px rgba(100, 100, 100, 0.14);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 40px;
    border-radius: 20px;
    gap: 20px;

    @include screen(md) {
        padding: 20px 40px;
    }
    &__heading {
        font-size: 2.6rem;
        font-weight: 700;
        color: #fff;
        margin-bottom: 10px;
        // color: #ee8584;

        @include screen(lg) {
            font-size: 2.2rem;
        }

        @include screen(md) {
            font-size: 1.8rem;
            margin-bottom: 0px;
        }
    }

    &__img {
        width: 300px;
        height: 300px;

        @include screen(lg) {
            width: 150px;
            height: 150px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    &__text {
        color: #fff;
        font-size: 2rem;

        @include screen(lg) {
            font-size: 1.8rem;
        }
        @include screen(md) {
            font-size: 1.4rem;
        }
    }
}

.album {
    padding: 80px 0;
    padding-bottom: 100px;
    background-color: $primary-color1;

    @include screen(md) {
        padding: 40px 0;
    }

    &__inner {
        text-align: center;
    }

    &__heading {
        font-size: 4.4rem;
        margin-bottom: 40px;
        color: #fff;
        @include screen(md) {
            font-size: 3rem;
            margin-bottom: 30px;
        }
    }

    &__top {
        margin-bottom: 30px;
        @include screen(md) {
            margin-bottom: 15px;
        }
    }

    &__group {
        display: grid;
        grid-template-columns: 1fr 2fr;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        gap: 20px;

        @include screen(lg) {
            padding: 10px;
            gap: 10px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        @include screen(lg) {
            gap: 10px;
        }

        & span {
            font-size: 70px;
            font-family: "Oooh Baby", cursive;
            color: $primary-color1;
            @include screen(lg) {
                font-size: 30px;
            }
        }
    }

    &__wrap {
        width: 80%;
        margin: 0 auto;

        @include screen(lg) {
            width: 100%;
        }
    }

    &__general {
        background-color: #fff;
        border-radius: 10px;
    }

    &__text-group {
        padding: 60px 120px 40px 120px;

        @include screen(lg) {
            padding: 20px 30px 10px 30px;
        }
    }

    &__text {
        font-size: 30px;
        font-weight: 600;
        color: $primary-color1;
        font-family: "Oooh Baby", cursive;

        @include screen(lg) {
            font-size: 1.6rem;
            font-weight: 500;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px;

        @include screen(lg) {
            grid-template-columns: 1fr 1fr;
            padding: 10px;
            gap: 10px;
        }
    }
    &__item {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 25px 10px rgba(100, 100, 100, 0.14);

        @include screen(lg) {
            border-radius: 5px;
        }
    }

    &__image {
        width: 100%;
        display: block;
        aspect-ratio: 3 / 4;
        object-fit: cover;

        &--big {
            aspect-ratio: 6 / 4;
        }
    }
}

.footer {
    background-color: #fff;
    padding: 40px 0;
    // position: fixed;
    // bottom: 0;
    // left: 0;
    // right: 0;
    z-index: 100000;

    @include screen(md) {
        padding: 20px 0;
    }
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        & p {
            font-size: 4.4rem;
            color: $primary-color1;

            @include screen(md) {
                font-size: 2.4rem;
            }
        }
        & span {
            font-size: 2.4rem;
            color: $primary-color1;
            @include screen(md) {
                font-size: 1.4rem;
            }
        }
    }
}

.heart {
    position: absolute;
    width: 40px;
    height: 40px;
    background: $primary-color1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg) scale(0.8);
    margin-top: 4px;
    z-index: 1;
    animation: beat 1s infinite;
    border-radius: 8px;
    // box-shadow: 0 4px 8px $primary-color1;

    @include screen(md) {
        animation: beat-md 1s infinite;
    }
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: inherit;
    border-radius: 50%;
}

.heart::before {
    top: -20px;
    left: 0;
}

.heart::after {
    left: 20px;
    top: 0;
}
@keyframes beat {
    0%,
    100% {
        transform: translate(-50%, -50%) rotate(-45deg) scale(0.7);
    }
    50% {
        transform: translate(-50%, -50%) rotate(-45deg) scale(0.8);
    }
}

@keyframes beat-md {
    0%,
    100% {
        transform: translate(-50%, -50%) rotate(-45deg) scale(0.5);
    }
    50% {
        transform: translate(-50%, -50%) rotate(-45deg) scale(0.6);
    }
}

.audio {
    background-color: $primary-color1;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    z-index: 1000000;
    box-shadow: 0 0 5px 5px $primary-color1;
    border: 2px solid #fff;

    animation: audio 1s infinite;

    @include screen(md) {
        bottom: 30px;
        right: 20px;
        width: 35px;
        height: 35px;
    }

    &__icon {
        width: 25px;
        @include screen(md) {
            width: 20px;
        }
    }
}

@keyframes audio {
    0%,
    100% {
        box-shadow: 0 0 5px 5px $primary-color1;
    }
    50% {
        box-shadow: 0 0 10px 5px $primary-color1;
    }
}
