@import "reset";
@import "variables";
@import "mixins";
@import "utils";
@import "base";

.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__inner {
        overflow: hidden;
        height: 100%;
    }

    &__item {
        position: relative;
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        &::after {
            content: "";
            background: #000;
            position: absolute;
            inset: 0;
            opacity: 0.3;
        }
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
    }
}

.hero {
    background: $primary-color1;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

    @include screen(md) {
        height: 80vh;
        clip-path: initial;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        position: relative;

        @include screen(md) {
        }
    }

    &__text {
        font-size: 2.4rem;
        color: $text-color2;
        font-weight: 700;

        @include screen(md) {
            font-size: 1.8rem;
        }
    }

    &__title {
        margin-top: 30px;
        font-size: 8rem;
        font-weight: bold;
        color: $text-color2;
        @include screen(md) {
            margin-top: 20px;
            font-size: 3rem;
        }
    }

    &__guest-label {
        margin-top: 80px;
        font-weight: 600;
        font-size: 2.8rem;
        color: $text-color2;
        font-family: "Open Sans", sans-serif;
        @include screen(md) {
            margin-top: 50px;
            font-size: 1.6rem;
        }
    }

    &__guest-name {
        margin-top: 30px;
        font-family: "Oooh Baby", cursive;
        font-weight: 700;
        font-size: 6rem;
        color: $text-color2;
        position: relative;

        &::after {
            content: "";
            height: 2px;
            width: calc(100% + 100px);
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            border-bottom: 2px dotted #fff;
            @include screen(md) {
                width: 300px;
            }
        }
        @include screen(md) {
            margin-top: 10px;
            font-size: 2.8rem;
        }
    }

    &__subtitle {
        margin-top: 30px;
        font-size: 2.4rem;
        color: $text-color2;
        @include screen(md) {
            font-size: 1.8rem;
        }
    }

    &__cta {
        margin-top: 30px;
        padding: 16px 52px;
        border: 1px solid #fff;
        background-color: transparent;
        font-size: 2rem;
        border-radius: 20px;
        color: $text-color2;
        font-weight: 500;
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
            color: $text-color2;
        }

        @include screen(md) {
            margin-top: 40px;
            font-size: 1.6rem;
            padding: 12px 40px;
        }
    }
}

.couple {
    margin-top: -150px;
    margin-bottom: 80px;
    position: relative;
    z-index: 1;

    @include screen(md) {
        margin-top: -60px;
        margin-bottom: 20px;
    }
    &__media {
        width: 80%;
        margin: 0 auto;
        display: flex;
        gap: 20px;
        position: relative;
        justify-content: space-between;
        @include screen(md) {
            flex-direction: column;
            gap: 5px;
            width: 100%;
        }

        &::before {
            content: "";
            width: 60px;
            height: 60px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url("../images/heart.svg");
            background-repeat: no-repeat;
            background-position: center;
            z-index: 1;
            @include screen(md) {
                width: 40px;
                height: 40px;
            }
        }

        &::after {
            content: "";
            width: 100px;
            height: 100px;
            background-color: #fff;
            border-radius: 50%;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include screen(md) {
                width: 70px;
                height: 70px;
            }
        }
    }

    &__img-wrap {
        width: 100%;
        border-radius: 30px;
        overflow: hidden;
        border: 10px solid #fff;
        background-color: #fff;
        @include screen(md) {
            border: 10px solid #fff;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        display: block;
    }

    &__content {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        @include screen(md) {
            gap: 20px;
        }
    }

    &__heading {
        font-size: 4.4rem;
        font-weight: 700;
        color: $primary-color1;

        @include screen(md) {
            font-size: 3rem;
        }
    }

    &__desc {
        font-family: "Open Sans", sans-serif;
        text-align: center;
        font-size: 1.8rem;
        width: 75%;
        color: $desc-color;

        @include screen(md) {
            width: 100%;
            font-size: 1.4rem;
        }
    }
    &__name {
        margin-top: 20px;
        font-family: "Oooh Baby", cursive;
        font-weight: 400;
        font-size: 3.8rem;

        @include screen(md) {
            font-size: 3rem;
        }
    }

    &__bottom {
        width: 100%;
    }

    &__main-img-wrap {
        width: 76%;
        padding-top: 40%;
        position: relative;
        margin: 40px auto;
        border-radius: 20px;

        @include screen(md) {
            width: 100%;
            padding-top: 60%;
        }
    }

    &__main-img {
        box-shadow: $box-shadow;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}

.parrent {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 120px;
    @include screen(md) {
        gap: 20px;
    }

    &__info {
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    &__name {
        color: $desc-color;
        & strong {
            font-weight: 700;
            font-size: 1.8rem;

            @include screen(md) {
                font-size: 1.2rem;
            }
        }

        @include screen(md) {
            font-size: 1.2rem;
        }
    }

    &__label {
        font-weight: 700;
        font-size: 1.8rem;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

.location {
    background: $primary-color1;
    padding: 80px 0;
   @include screen(md) {
          padding: 40px 0;
        }
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__heading {
        font-size: 4.4rem;
        font-weight: 700;
        color: #fff;

        @include screen(md) {
            font-size: 3rem;
        }
    }

    &__desc {
        margin-top: 20px;
        font-size: 1.8rem;
        text-align: center;
        width: 60%;
        color: #fff;
        @include screen(md) {
            width: 100%;
            font-size: 1.4rem;
        }
    }

    &__list {
        margin-top: 40px;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        gap: 20px;

        @include screen(md) {
            grid-template-columns: 1fr;
            width: 100%;
        }
    }
}

.location-item {
    background: #fff;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 40px;
    border-radius: 20px;

    &__title {
        font-size: 2.6rem;
        font-weight: 700;
        margin-bottom: 30px;
        color: $primary-color1;
        @include screen(md) {
             font-size: 2.2rem;
        }
    }

    &__desc {
        color: $desc-color;
        margin-bottom: 20px;
        font-weight: 600;
        align-self: start;

        @include screen(md) {
            align-self: start;
        }
    }

    &__btn {
        padding: 14px 44px;
        border-radius: 20px;
        color: $primary-color1;
        border: 1px solid $primary-color1;
        background-color: transparent;
        transition: all 0.25s ease;
        cursor: pointer;

        &:hover {
            border: 1px solid $primary-color1;
            background-color: $primary-color1;
            color: #fff;
        }
    }
}

.reply {
    padding: 80px 0px;

    &__inner {
        margin: 0px auto;
        max-width: 700px;
        padding: 40px;
        border-radius: 20px;
        text-align: center;
        box-shadow: $box-shadow;
    }

    &__heading {
        font-size: 4.4rem;
        margin-bottom: 40px;
        color: $primary-color1;
        @include screen(md) {
            font-size: 3rem;
        }
    }

    &__input-wrap {
        height: 50px;
        border-radius: 20px;
        width: 100%;
        background-color: transparent;
        border: 1px solid #ccc;
        padding: 0px 12px;
        margin-bottom: 20px;
    }

    &__input {
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
    }

    &__btn {
        margin-top: 20px;
        padding: 14px 64px;
        border-radius: 20px;
        border: 1px solid transparent;
        background-color: $primary-color1;
        color: #fff;
        transition: all 0.25s ease;
        cursor: pointer;
        display: inline-block;

        &:hover {
            opacity: 0.8;
        }

        @include screen(md) {
            margin-top: 10px;
            padding: 14px 44px;
        }
    }
}
